.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputField {
  width: 19rem;
  height: 3rem;
  border-radius: 2rem;
  border: none;
  margin: 1rem;
  padding: 0.25rem 1rem;
}

.messageInput {
  width: 19rem;
  height: 3rem;
  border-radius: 2rem;
  min-height: 12rem;
  margin: 0.5rem;
  font: inherit;
  padding: 1rem 1rem 0.25rem;
}

::placeholder {
  padding: 0.5rem;
}

label {
  display: none;
}

.socialMedia {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.socialIcons {
  padding: 1rem;
}
